.nav-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.nav-buttons button {
    background-color: #fdfcf1;
    margin: 0 20px;
    border-style: none;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.nav-buttons button.previous span {
    margin-left: -0.5rem;
}

.nav-buttons button.next span {
    margin-right: -0.5rem;
}

.nav-buttons button span {
    display: flex;
    align-items: center;
}

.nav-buttons button:disabled {
    opacity: 0.5;
}