@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.Buttons {
    border: none;
    border-radius: 50px;
    outline: none;
    margin-bottom: 50px;
    box-shadow: 0 3px 0;
    color: black;
    background-color: HSL(55, 100%, 46%);
    font-size: 25px;
    font-family: 'Nerko One', cursive;

}