.App {
    width: 100%;
    background-color: lightblue;
}

.next-previous {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
